body{
    display: grid;
    width: 100vw;
    height:100vh;
    grid-template-columns: 0.5fr 2fr 2fr;
    grid-template-rows: 9% 18% 50% 55% 40% 20%;
    grid-template-areas: 
    "topnav topnav topnav" 
    "header header header" 
    "photos photos photos" 
    "aside services services" 
    "promo promo1 promo2"
    "footer footer footer";
}
.info{
    display: none;
}
h1{
    padding-top: 1rem;
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    color: #131E3D;
}
.fa-tools{
    margin-right: 10px;
}
.title:hover{
    text-decoration: none;
}
h2{
    padding-top: 2rem;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
}
h3{
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 5%;
}

p{
    font-size: larger;
    font-family: 'Open Sans', sans-serif; 
}
/* INDEX.HTML*/
.navbar{
    display:none;
}
.topnav{
    font-family: 'Open Sans', sans-serif;
    grid-area: topnav;
    background-color: #94B0DA;
    display: flex;
    justify-content: flex-end;
    color: white;
    position: fixed;
    top:0;
    width: 100%;
    height: 9%;
    z-index: 1;
}
.fa-map-marker-alt{
    margin-right: 6px;
}
.fa-phone{
    margin-right: 6px;
}

header{
    grid-area: header;
    display: flex;
    background:#DCEDFF;
    color: white;
    grid-area: header;
    padding: 1rem;
    justify-content: space-between;
}
#navbar{
    display: flex;
    grid-area: navbar;
}
.items{
    display: flex;
}
.navitem{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    color:#131E3D;
    text-align: center;
    padding-top: 3rem;
    padding-right: 2rem;
    margin-right:2rem;
}
.navitem:hover{
    font-weight: bold;
    color:white;
    text-decoration: none;
}
.photos{
    grid-area: photos;
   
}
aside{
    padding-top: 2rem;
    grid-area: aside;
    text-align: center;
    background-color: white;
    color:#131E3D
}
.services{ 
    margin-top: 5rem;
    grid-area: services;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.card{
    height: 20vh;
}
.cardimage{
    height: 25vh;
    width: 14vw;
}
.logoimage{
    display:none;
}
.container{
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    background-color: #35403E;
    text-align: center;
    color:white;
    height: 50vh;
    width: 14vw;
    padding: 5%;
}
.container:hover{
    background-color: #94B0DA;
    color:white;
}
.promo{
    grid-area: promo;
    text-align: center;
    background-color:#131E3D;
    color:white;
}
.promo1{
    font-family: 'Open Sans', sans-serif;
    grid-area: promo1;
    border-top: 2px solid #DCEDFF;
    padding: 1rem;
    margin-right: 20%;
    margin-left: 20%;
}
.promo2{
    padding: 1rem;
    margin-right: 20%;
    margin-left: 20%;
    grid-area: promo2;
    border-top: 2px solid #DCEDFF;
}
footer{
    font-size: small;
    padding: 3rem;
    display: flex;
    grid-area: footer;
    background-color: #DCEDFF;
}
.instagram{
    margin-left: 20px;
    width: 40px;
    height:40px;
}
.facebook{
    margin-left: 20px;
    width:45px;
    height:40px;
}

@media screen and (max-width: 780px) {
    body{
        display: grid;
        width: 100vw;
        height:100vh;
        grid-template-columns: 100% ;
        grid-template-rows: 11% 5% 2vh 110vh 10% 40% 40% 10%;
        grid-template-areas: 
        "navbar"
        "info"
        "aside"
        "services"
        "promo"
        "promo1"
        "promo2"
        "footer"
    }
   
    .topnav{
        display: none;
    }
    .navbar{
        position: absolute !important;
        grid-area: navbar;
        display: inline-block;
        background-color: #131E3D !important;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
    .navbar-brand{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        margin-left: 10%;
        color:white !important;

    }
    .nav-item .nav-link{
        color:white !important;
        font-family: 'Open Sans', sans-serif;
        padding-left: 5px;
        background-color: #94B0DA;
    }
    .navbar-toggler-icon{
        background-color: #94B0DA;
    }
    .info{
        display: flex;
        grid-area: info;
        justify-content: center;
        height: 2vh;
    }
    .info h3{
        font-size: 2vh;
        padding: 0;
        margin: 5px;
        z-index: 1;
    }
    .services{ 
        z-index: -1;
        grid-area: services;
        margin-top: 15%;
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    .cardimage{
        width: 40vw ;
        height: 25vh;
    }
    .logoimage{
        display: block;
        width: 40vw ;
        height: 30vh;
    }
    .container{
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 3vw;
        background-color: #35403E;
        text-align: center;
        color:white;
        height: 50vh;
        width: 40vw;
        padding: 5%;
    }
   
    aside{
        margin-top: -1rem;
        grid-area: aside;
    }
    aside h2{
        background-color: #DCEDFF;
        padding: 1rem;
    }

    .promo{
        grid-area:promo;
        background-color: #DCEDFF;
        color: #131E3D;
    }
    .promo h2{
        background-color: #DCEDFF;
        padding: 1rem;
    }
    .promo1{
        grid-area:promo1;
        border:none;
    }
    .promo2{
        grid-area: promo2;
    }
  
    footer{
        background-color: #131E3D;
        color:white;
    }
    .photos{
        display: none;
    }
    header{
        display: none;
    }
}